*{box-sizing: border-box;
	margin:0;}
	

body{
	font-family: 'Open Sans' , sans-serif;
}

h3{
	font-weight: 800;
	color: #FFFFFF;
}

input {
	display: block;
	font-family: 'Open Sans' , sans-serif;
	margin: 20px;
	width: 50%;
	height: 30px;
}

button {
	background-color: #FFC107;
	color: #FFFFFF;
	display: block;
	font-weight: 800;
	width: 50%;
	margin-left: 3%;
	height: 25px;
}

.left{
	background-color: #455A64;
	width: 50%;
	display: inline-block;
	height: 878.44px;
}

.right{
	background-color: #CFD8DC;
	display: inline-block;
	width: 50%;
	height: 878.44px;
	position: absolute;
}

.logo {
	height: 100px;
	width: 100px;
}