* {
	box-sizing: border-box;
	margin:0;
}
	

body {
	font-family: 'Open Sans' , sans-serif;
}

h3 {
	color: #FFFFFF;
	font-size: 6vw;
	font-weight: 800;
}

input {
	display: block;
	font-family: 'Open Sans' , sans-serif;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	margin-top: 70px;
	width: 93%;
}

.enter-btn {
	border: none;
	background-color: #FFC107;
	color: #FFFFFF;
	display: block;
	font-size: 20px;
	font-weight: 800;
	height: 50px;
	margin: auto;
	width: 93%;
}

button.enter-btn:hover{
	background-color: #FFD773;
}

section.left {
	background-color: #455A64;
	display: inline-block;
	height: 878.44px;
	width: 50%;
}

.logo {
	height: 6vw;
	margin-bottom: -10px;
	padding-right: 5px;
	width: 10vw;
}

section.right {
	background-color: #CFD8DC;
	display: inline-block;
	height: 878.44px;
	position: absolute;
	width: 50%;
}

article.left {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -176px;
	text-align: center;	
	position: relative;
	text-align: center;
	top: 50%;
}
span {
	padding-right: 36px;
}
.bookmark {
	background-color: #FFFFFF;
	border: solid #607D8B;
	box-sizing: border-box;
	height: 25%;
	margin-bottom: 30px;
	margin: 25px;
}

.read-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: #455A64;
	display: inline-block;
	font-size: 20px;
	/*font-family: 'Open Sans' , sans-serif;*/
	float: left;
	margin: 0px;
	outline: none;
	padding-left: 25px;
	text-decoration: underline #F2F4F4;
	outline: none;
}

.read:hover {
	color: #455A64;
	font-family: 'Open Sans' , sans-serif;
	font-weight: 800;
	text-decoration: underline #FCC107;
}

.read-card {
	background-color: #F2F4F4;
}

.read-card a {
	text-decoration: solid #CFD8DC;
	color: #607D8B;
}
.read-card a:hover{
	color: #CFD8DC;
	text-decoration: solid orange;
}

.read-card .read  {
	background-color: #F2F4F4;
	color: #F05A28; 
}

.read-card .read-button {
	color: #F05A28;
}

.read-card a hover:disabled {
	font-weight: 800;
	text-decoration: underline #FCC107;
	font-size: 400;
}

.delete {
	background-color: rgba(0,0,0,0);
	border: none;
	color: #455A64;
	display: inline-block;
	border: 0px;
	float: right;
	font-family: 'Open Sans' , sans-serif;
	font-size: 20px;
	outline: none;
	text-decoration: underline #F2F4F4;
	padding-right: 25px;
}

span#counter{
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
}

span#readcounter{
	color: #FFFFFF;
	font-size: 25px;
	/*text-align: center;*/
	display: block;
}

hr {
	height: 1px;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
}

a {
	color: #607D8B;
	font-size: 30px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-top: 25px;
	text-decoration: underline #F2F4F4;
}

a:hover {
	color: #455A64;
	font-weight: 800;
	text-decoration: underline #FCC107;
}

h2 {
	color: #455A64;
	font-size: 50px;
	font-weight: 400;
	margin-left: 25px;
}

.read:hover {
	color: #455A64;
	font-family: 'Open Sans' , sans-serif;
	font-weight: 800;
	text-decoration: underline #FCC107;
}

@media only screen and (max-width: 648px) {

section.left {	
    height: 375px;
    margin-bottom: -70px; 
    width: 100%;   
}

section.right {
   	height: 700px;
    width: 100%;
}

article.bookmark {
   	height: 165px;
   	width: 88%;
}

input {
   	font-size: 20px;
   	margin-top: 30px;
   	margin-bottom: 30px;
}

h3 {
   	font-size: 40px;
}

.logo {
   	width: 69px;
   	height: 47px;
}

h2 { 
	font-size: 25px;
}

a {
	font-size: 15px;
	}

span#counter {
	margin-right: 20px;
}

span#readcount {
	color: #FCC107;
}

